{{!-- Attributes Tab --}}
<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  {{#if recoveryMode}}
  <div style="color: red;">
    <strong>RECOVERY MODE</strong>
    <p>Custom effects are disabled. Please fix potential errors and disable recovery mode in settings.</p>
    <hr>
  </div>
  {{/if}}

<section class="grid grid-3col">
  <div class="attribute-col">
    <div class="main-attributes">
      {{#each system.attributes as |attribute key|}}
      <div class="attribute">

        {{#if (pkOptions "vitaminOption")}}
          {{#if (ifvitamin ../system.avitamin ../system.bvitamin key)}}
          <div class="fa-solid fa-star" width="22px" height="22px" style="border: 0px; margin: 0px 2px 0px 0px"></div>
          {{else}}
          <div class="fa-regular fa-star" width="22px" height="22px" style="border: 0px; margin: 0px 2px 0px 0px"></div>
          {{/if}}
        {{/if}}

        <label for="system.attributes.{{key}}.value" data-action="roll" class="resource-label flexlarge align-left"
          data-roll-attribute="{{key}}" data-label="{{attribute.label}}">{{attribute.label}}</label>
        <input type="text" class="value-input {{#if attribute.overridden}}overridden{{/if}}"
          name="system.attributes.{{key}}.value" value="{{attribute.value}}" {{disabled attribute.overridden}}
          data-dtype="Number" />
        <span> / </span>
        <input type="text" class="value-input" name="system.attributes.{{key}}.max" value="{{attribute.max}}"
          data-dtype="Number" />
      </div>
      {{/each}}
    </div>

    <div class="social">
      {{#each system.social as |attribute key|}}
      <div class="attribute" data-kind="social.{{key}}">
        <label for="system.social.{{key}}.value" data-action="roll" class="resource-label flexlarge align-left"
          data-roll-attribute="{{key}}" data-label="{{attribute.label}}">{{attribute.label}}</label>
        <input type="text" class="value-input {{#if attribute.overridden}}overridden{{/if}}"
          name="system.social.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" {{disabled
          attribute.overridden}} />
        <span> / </span>
        <input type="text" class="value-input" name="system.social.{{key}}.max" value="{{attribute.max}}"
          data-dtype="Number" />
      </div>
      {{/each}}
    </div>

    <div class="extra-attributes">
      {{#each system.extra as |attribute key|}}
      <div class="attribute">
        <label for="system.extra.{{key}}.value" data-action="roll" class="resource-label flexlarge align-left"
          data-roll-attribute="{{key}}" data-label="{{attribute.label}}">{{attribute.label}}</label>
        {{#if attribute.custom}}
        <a data-action="deleteValue" title="Delete attribute" data-attribute-key="{{key}}">
          <i class="fas fa-trash"></i>
        </a>
        {{/if}}
        <input type="text" class="value-input {{#if attribute.overridden}}overridden{{/if}}"
          name="system.extra.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" {{disabled
          attribute.overridden}} />
        <span> / </span>
        <input type="text" class="value-input" name="system.extra.{{key}}.max" value="{{attribute.max}}"
          data-dtype="Number" />
      </div>
      {{/each}}
      <div class="add-custom-value custom-attribute">
        <input type="text" class="add-value-input" placeholder="Add attribute..." data-dtype="Number" />
        <a data-action="addCustomAttribute" title="Create attribute"><i class="fas fa-plus"></i></a>
      </div>
    </div>
  </div>

  <div class="middle">
    <div class="skills">
      {{#each system.skills as |skill key|}}
      <div class="attribute">
        <label for="system.skills.{{key}}.value" data-action="roll" class="resource-label flexlarge align-left"
          data-roll-skill="{{key}}">{{skill.label}}</label>

        {{#if skill.custom}}
        <a data-action="deleteValue" title="Delete skill" data-skill-key="{{key}}">
          <i class="fas fa-trash"></i>
        </a>
        {{/if}}

        <input type="text" class="value-input {{#if skill.overridden}}overridden{{/if}}"
          name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" {{disabled
          skill.overridden}} />
        <span> / </span>
        <input type="text" class="value-input" name="system.skills.{{key}}.max" value="{{skill.max}}"
          data-dtype="Number" readonly />
      </div>
      {{/each}}
      <div class="add-custom-value custom-skill">
        <input type="text" class="add-value-input" placeholder="Add skill..." data-dtype="Number" />
        <a data-action="addCustomSkill" title="Create skill"><i class="fas fa-plus"></i></a>
      </div>
    </div>
    <ul class="matchups">

      {{#if matchups.tripleWeak}}
      <li>
        <h4>Triple weaknesses (+3)</h4>
        {{#each typematch.tripleWeak}}
        <img title="{{this}}" src="systems/pokerole/images/types/{{this}}.svg" width="25px" height="25px"
          style="border: 0px"></img>
        {{/each}}
      </li>
      {{/if}}

      {{#if matchups.doubleWeak}}
      <li style="background-image: url('systems/pokerole/images/icons/matchups/X4.svg'); background-repeat: no-repeat; background-size: 20px; background-position: top right;">
        <h4>Double weaknesses (+2)</h4>
        {{#each typematch.doubleWeak}}
        <img title="{{this}}" src="systems/pokerole/images/types/{{this}}.svg" width="25px" height="25px"
          style="border: 0px"></img>
        {{/each}}
      </li>
      {{/if}}

      {{#if matchups.weak}}
      <li style="background-image: url('systems/pokerole/images/icons/matchups/X2.svg'); background-repeat: no-repeat; background-size: 20px; background-position: top right;">
        <h4>Weaknesses (+1)</h4>
        {{#each typematch.weak}}
        <img title="{{this}}" src="systems/pokerole/images/types/{{this}}.svg" width="25px" height="25px"
          style="border: 0px"></img>
        {{/each}}
      </li>
      {{/if}}

      {{#if matchups.resist}}
      <li style="background-image: url('systems/pokerole/images/icons/matchups/1-2.svg'); background-repeat: no-repeat; background-size: 20px; background-position: top right;">
        <h4>Resistances (-1)</h4>
        {{#each typematch.resist}}
        <img title="{{this}}" src="systems/pokerole/images/types/{{this}}.svg" width="25px" height="25px"
          style="border: 0px"></img>
        {{/each}}
      </li>
      {{/if}}
      {{#if matchups.doubleResist}}
      <li style="background-image: url('systems/pokerole/images/icons/matchups/1-4.svg'); background-repeat: no-repeat; background-size: 20px; background-position: top right;">
        <h4>Double resistances (-2)</h4>
        {{#each typematch.doubleResist}}
        <img title="{{this}}" src="systems/pokerole/images/types/{{this}}.svg" width="25px" height="25px"
          style="border: 0px"></img>
        {{/each}}
      </li>
      {{/if}}
      {{#if matchups.tripleResist}}
      <li>
        <h4>Triple resistances (-3)</h4>
        {{#each typematch.tripleResist}}
        <img title="{{this}}" src="systems/pokerole/images/types/{{this}}.svg" width="25px" height="25px"
          style="border: 0px"></img>
        {{/each}}
      </li>
      {{/if}}
      {{#if matchups.immune}}
      <li style="background-image: url('systems/pokerole/images/icons/matchups/X0.svg'); background-repeat: no-repeat; background-size: 20px; background-position: top right;">
        <h4>Immunities (x0)</h4>
        {{#each typematch.immune}}
        <img title="{{this}}" src="systems/pokerole/images/types/{{this}}.svg" width="25px" height="25px"
          style="border: 0px"></img>
        {{/each}}
      </li>
      {{/if}}
    </ul>
  </div>
  
  <aside>

    <div style="display: flex;
      justify-content: space-between;
      flex-direction: row;">
      <div class="nature-box battle-nature-wrap">
        {{#if (pkOptions "genderOption")}}
          <div class="attribute">
            <label for="system.gender" class="resource-label flexlarge align-left">Gender</label>
            <select name="system.gender" value="{{system.gender}}" data-dtype="String" class="large">
              {{selectOptions gender selected=system.gender}}
            </select>
          </div>
         {{/if}}
        <div class="attribute">
          <label for="system.personality" class="resource-label flexlarge align-left">Nature</label>
          <select name="system.personality" value="{{system.personality}}" data-dtype="String" class="large">
            {{selectOptions natures selected=system.personality}}
          </select>
        </div>
        <div class="attribute">
          <label for="system.trainingPoints" class="resource-label flexlarge align-left">Training Points</label>
          <input type="text" name="system.trainingPoints" value="{{system.trainingPoints}}" data-dtype="Number" />
        </div>
      </div>
    </div>
    <div class="button-container" style="margin-bottom: 6px; margin-top: 3px;">
      <button type="button" title="Retrain" data-action="reTrain" class="set-button">Retrain</button>
    </div>
    <div class="derived">
      <h3 class="section-header centered">Quick References</h3>
      <div class="derived-attributes">
        {{#each system.derived as |attribute key|}}
        <div class="attribute">
          {{#if (pkOptions "vitaminOption")}}
          {{#if (ifvitamin ../system.avitamin ../system.bvitamin key)}}
          <div class="fa-solid fa-star" width="22px" height="22px" style="border: 0px; margin: 0px 2px 0px 0px"></div>
          {{else}}
          <div class="fa-regular fa-star" width="22px" height="22px" style="border: 0px; margin: 0px 2px 0px 0px"></div>
          {{/if}}
        {{/if}}
          <label for="system.derived.{{key}}.value" data-action="roll" class="resource-label flexlarge align-left"
            data-roll-attribute="{{key}}" data-roll-label="{{attribute.label}}">{{attribute.label}}</label>
          <input type="text" class="{{#if attribute.overridden}}overridden{{/if}}" value="{{attribute.value}}"
            data-dtype="Number" disabled />
        </div>
        {{/each}}
      </div>
    </div>
  </aside>

</section>
</section>
