{{!-- Biography Tab --}}
<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  <aside class="species-data">
  <div class="pokedex-number-name">
    <span class="number-sign">#</span>
    <input type="text" class="pokedex-num" name="system.pokedexId" value="{{system.pokedexId}}" placeholder="0"
      data-dtype="Number" />
    <input type="text" name="system.species" value="{{system.species}}" placeholder="Species"
      data-dtype="String" />
    {{#unless limitedPermissions}}
    <a data-action="showSettings"><i class="fas fa-cogs"></i></a>
    {{/unless}}
  </div>
    <ul class="pokedex">
      <li>
        <h4>Category</h4>
        <input name="system.pokedexCategory" value="{{system.pokedexCategory}}" placeholder="Pokédex Category">
      </li>
      <li>
        <h4>Description</h4>
        <textarea class="pokedex-description"
          name="system.pokedexDescription">{{ system.pokedexDescription }}</textarea>
      </li>
      <li class="inner-list">
        <ul>
          <li>
            <h4>Height</h4>
            <span><input class="small" name="system.height" value="{{system.height}}"> m / {{heightImperial}}
              ft</span>
          </li>
          <li>
            <h4>Weight</h4>
            <span><input class="small" name="system.weight" value="{{system.weight}}"> kg / {{weightImperial}}
              lbs</span>
          </li>
        </ul>
      </li>
    </ul>

    {{#unless limitedPermissions}}
    <div class="abilities">
      <h4>
        Abilities
        <a data-action="createItem" title="Create ability" data-type="ability"><i
            class="fas fa-plus"></i></a>
      </h4>
      <ul>
        {{#each abilities as |item index|}}
        <li class="item" data-item-id="{{item.data._id}}">
          <h5>
            <a data-action="roll" data-roll-type="item">{{item.data.name}}</a>
            <a data-action="editItem" title="Edit Ability"><i class="fas fa-edit"></i></a>
            <a data-action="deleteItem" title="Delete Ability"><i class="fas fa-trash"></i></a>
          </h5>
          <p>{{{item.data.system.description}}}</p>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/unless}}

  </aside>

  <div class="species-data">
    <div class="pokedex-number-name">
      <span class="number-sign">Character Data</span>
    </div>

    <ul class="pokedex">
      <li>
        <h4>Trait</h4>
        <input type="text" name="system.trait" value="{{system.trait}}" placeholder="None">
      </li>
      {{#if (pkOptions "vitaminOption")}}
      <li class="inner-list">
        <ul>
          <li>
            <h4>A Vitamin</h4>
            <select name="system.avitamin" value="{{system.avitamin}}" data-dtype="String"
              class="medium clean-selector">
              {{selectOptions addedvitamin selected=system.avitamin}}
            </select>
          </li>
          <li>
            <h4>B Vitamin</h4>
            <select name="system.bvitamin" value="{{system.bvitamin}}" data-dtype="String"
              class="medium clean-selector">
              {{selectOptions addedvitamin selected=system.bvitamin}}
            </select>
          </li>
        </ul>
      </li>
      {{/if}}
    </ul>

    {{#unless limitedPermissions}}
    {{#if editingDescription}}
    <prose-mirror name="{{ editingDescription.target }}" value="{{ editingDescription.value }}"
                  document-uuid="{{ actor.uuid }}" compact></prose-mirror>
    {{else}}
    <div class="biography-editor" data-target="system.biography">
      <h4>
        Biography
        {{#if editable}}
        <button type="button" class="editor-edit" data-action="editDescription" data-target="system.biography"
                aria-label="Edit Biography">
          <i class="fas fa-edit"></i>
        </button>
        {{/if}}
      </h4>
      <div class="editor">
        <div class="editor-content">{{{ biographyHtml }}}</div>
      </div>
    </div>
    {{/if}}
    {{/unless}}
  </div>
</section>
