{{!-- Sheet Header --}}
<div class="character-header">
  <div class="main-header">
    <div class="side-containers">
      <div class="side-slot up-left">
        <div class="internal">
          <div class="settings-container">
            <div class="internal">
              {{#if editable}}
              <i class="fas fa-gear butonable" data-action="showSettings"></i>
              {{/if}}
            </div>
          </div>
          <input name="name" type="text" value="{{actor.name}}" placeholder="Name">
        </div>
      </div>
      <div class="side-slot down-left">
        <div class="internal">
          <div class="info-container">
            <div style="display: flex; align-items: center;gap: 1px;">
              <label title="#{{system.pokedexId}} {{system.species}}"
                style="color: white; background: transparent; text-align: center; padding: 2px 0px;max-width: 185px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">#{{system.pokedexId}}
                {{system.species}}</label>
              {{#if (pkOptions "genderOption")}}
              <img src="{{styleImage system.gender}}" style="width: 22px;height: 22px;border: 0px;">
              {{/if}}
              {{#if system.varicolor}}
              <img title="Shiny" src="systems/pokerole/images/icons/varicolor.png"
                style="width: 22px;height: 22px;border: 0px;">
              {{/if}}
            </div>
          </div>
          <div class="type-container">
            <div class="type-selector" style="--type-color: {{styleType system.type1 'color1'}};">
              <img src="{{styleType system.type1 'image'}}" style="height: 100%;border: 0px">
              <select name="system.type1" value="{{system.type1}}" data-dtype="String">
                {{selectOptions types selected=system.type1}}
              </select>
            </div>
            <div class="type-selector" style="--type-color: {{styleType system.type2 'color1'}};">
              <img src="{{styleType system.type2 'image'}}" style="height: 100%;border: 0px">
              <select name="system.type2" value="{{system.type2}}" data-dtype="String">
                {{selectOptions types selected=system.type2}}
              </select>
            </div>
            {{#if system.hasThirdType}}
            <div class="type-selector" style="--type-color: {{styleType system.type3 'color1'}};">
              <img src="{{styleType system.type3 'image'}}" style="height: 100%;border: 0px">
              <select name="system.type3" value="{{system.type3}}" data-dtype="String">
                {{selectOptions types selected=system.type3}}
              </select>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="portrait-img">
      <img class="profile-img" {{#if editable}}data-action="editImage" data-edit="img" data-type="image"{{/if}} src="{{actor.img}}"
        title="{{actor.name}}" height="100" width="100">
    </div>
    <div class="side-containers">
      <div class="side-slot up-right">
        <div class="internal">
          <div class="rank-container">
            <select name="system.rank" value="{{system.rank}}" data-dtype="String" data-action="selectRank">
              {{selectOptions ranks selected=system.rank}}
            </select>
          </div>
          <div class="rank-label-container">
            <div class="internal">
              <label>Rank</label>
            </div>
          </div>
        </div>

      </div>
      <div class="side-slot down-right">
        <div class="internal">
          <div class="item-selector-container">
            <label for="system.activeAbility">Ability</label>
            {{#if editable}}
            <select name="system.activeAbility" value="{{system.activeAbility}}" data-dtype="String"
              data-tooltip="{{activeAbilityDescription}}">
              {{selectOptions abilitiesSelect selected=system.activeAbility}}
            </select>
            {{else}}
            <span data-tooltip="{{activeAbilityDescription}}">{{activeAbilityName}}</span>
            {{/if}}
          </div>
          <div class="item-selector-container">
            <label for="system.activeItem">Item</label>
            {{#if editable}}
            <select name="system.activeItem" value="{{system.activeItem}}" data-dtype="String"
              data-tooltip="{{activeItemDescription}}" style="margin-left: 12px;">
              {{selectOptions heldItemSelect selected=system.activeItem}}
            </select>
            {{else}}
            <span data-tooltip="{{activeItemDescription}}">{{activeItemName}}</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <div class="sub-container">
      <div class="hp-container">
        <div class="internal">
          {{#if (pkOptions "vitaminOption")}}
          {{#if (ifvitamin system.avitamin system.bvitamin "hp")}}
          <div class="fa-solid fa-star" width="22px" height="22px" style="border: 0px; margin: 0px 2px 0px 0px"></div>
          {{else}}
          <div class="fa-regular fa-star" width="22px" height="22px" style="border: 0px; margin: 0px 2px 0px 0px"></div>
          {{/if}}
          {{/if}}
          <label for="system.hp.value" style="color: white;text-align: center; font-weight: bold;"> HP </label>
          <div class="pp-displayer">
            <input type="number" min="0" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number" class="always-interactive">
            <label>{{ system.hp.max }}</label>
          </div>
        </div>
      </div>
      <img class="rank-icon" src="{{styleImage system.rank}}">
      <div class="wp-container">
        <div class="internal">
          {{#if (pkOptions "vitaminOption")}}
          {{#if (ifvitamin system.avitamin system.bvitamin "willpower")}}
          <div class="fa-solid fa-star" width="22px" height="22px" style="border: 0px; margin: 0px 2px 0px 0px"></div>
          {{else}}
          <div class="fa-regular fa-star" width="22px" height="22px" style="border: 0px; margin: 0px 2px 0px 0px"></div>
          {{/if}}
          {{/if}}
          <label for="{{id}}-system-will-value" data-action="roll" data-roll-attribute="will" data-label="Will" class="rollable"
            style="color: white;text-align: center; font-weight: bold;"> WP </label>
          <div class="pp-displayer">
            <input id="{{id}}-system-will-value" type="number" min="0" name="system.will.value" value="{{system.will.value}}" data-dtype="Number" class="always-interactive">
            <label style="color: white;text-align: center;font-weight: bold;width: 18px;">{{ system.will.max }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>