{{!-- Attributes Tab --}}
<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  {{#if recoveryMode}}
  <div class="recovery-mode-warning">
    <strong>RECOVERY MODE</strong>
    <p>Custom effects are disabled. Please fix potential errors and disable recovery mode in settings.</p>
    <hr>
  </div>
  {{/if}}

  <div class="attribute-col" style="--num-bubbles: {{attributesBubblesNum}};">
    <div class="main-attributes">
      {{#each system.attributes as |attribute key|}}
      <div class="attribute">

        {{#if (pkOptions "vitaminOption")}}
          {{#if (ifvitamin ../system.avitamin ../system.bvitamin key)}}
          <div class="fa-solid fa-star attribute-star"></div>
          {{else}}
          <div class="fa-regular fa-star attribute-star"></div>
          {{/if}}
        {{/if}}

        <label for="{{@root/id}}-system-attributes-{{key}}-value" data-action="roll" class="resource-label flexlarge align-left rollable"
          data-roll-attribute="{{key}}" data-label="{{attribute.label}}">{{attribute.label}}</label>
        
        {{#if ../editable}}
        <input id="{{@root/id}}-system-attributes-{{key}}-value" type="text" class="value-input {{#if attribute.overridden}}overridden{{/if}}"
          name="system.attributes.{{key}}.value" value="{{lookup (lookup ../actor._source.system.attributes key) "value"}}" {{!--{{disabled attribute.overridden}}--}}
          data-dtype="Number" />
        <span> / </span>
        <input type="text" class="value-input" name="system.attributes.{{key}}.max" value="{{attribute.max}}"
          data-dtype="Number" />
        {{else}}
        <div class="bubbles" data-tooltip="{{attribute.value}} / {{attribute.max}}">
          {{#each (attributeBubbles ../actor "attributes" key) as |bubble|}}
          <span class="bubble bubble-{{bubble.color}}"></span>
          {{/each}}
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>

    <div class="social">
      {{#each system.social as |attribute key|}}
      <div class="attribute" data-kind="social.{{key}}">
        <label for="{{@root/id}}-system-social-{{key}}-value" data-action="roll" class="resource-label flexlarge align-left rollable"
          data-roll-attribute="{{key}}" data-label="{{attribute.label}}">{{attribute.label}}</label>
        
        {{#if ../editable}}
        <input id="{{@root/id}}-system-social-{{key}}-value" type="text" class="value-input {{#if attribute.overridden}}overridden{{/if}}"
          name="system.social.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" {{disabled
          attribute.overridden}} />
        <span> / </span>
        <input type="text" class="value-input" name="system.social.{{key}}.max" value="{{attribute.max}}"
          data-dtype="Number" />
        {{else}}
        <div class="bubbles">
          {{#each (attributeBubbles ../actor "social" key) as |bubble|}}
          <span class="bubble bubble-{{bubble.color}}"></span>
          {{/each}}
        </div>
        {{/if}}
      </div>
      {{/each}}
    </div>

    <div class="extra-attributes">
      {{#each system.extra as |attribute key|}}
      <div class="attribute">
        <label for="{{@root/id}}-system-extra-{{key}}-value" data-action="roll" class="resource-label flexlarge align-left rollable"
          data-roll-attribute="{{key}}" data-label="{{attribute.label}}">{{attribute.label}}</label>
        
        {{#if ../editable}}
        {{#if attribute.custom}}
        <a data-action="deleteValue" title="Delete attribute" data-attribute-key="{{key}}">
          <i class="fas fa-trash"></i>
        </a>
        {{/if}}
        <input id="{{@root/id}}-system-extra-{{key}}-value" type="text" class="value-input {{#if attribute.overridden}}overridden{{/if}}"
          name="system.extra.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" {{disabled
          attribute.overridden}} />
        <span> / </span>
        <input type="text" class="value-input" name="system.extra.{{key}}.max" value="{{attribute.max}}"
          data-dtype="Number" />
        {{else}}
        <div class="bubbles">
          {{#each (attributeBubbles ../actor "extra" key) as |bubble|}}
          <span class="bubble bubble-{{bubble.color}}"></span>
          {{/each}}
        </div>
        {{/if}}
      </div>
      {{/each}}
      {{#if editable}}
      <div class="add-custom-value custom-attribute">
        <input type="text" class="add-value-input" placeholder="Add attribute..." data-dtype="Number" />
        <a data-action="addCustomAttribute" title="Create attribute"><i class="fas fa-plus"></i></a>
      </div>
      {{/if}}
    </div>
  </div>

  <div class="middle">
    <div class="skills">
      {{#each system.skills as |skill key|}}
      <div class="attribute">
        <label for="{{@root/id}}-system-skills-{{key}}-value" data-action="roll" class="resource-label flexlarge align-left rollable"
          data-roll-skill="{{key}}">{{skill.label}}</label>

        {{#if ../editable}}
        {{#if skill.custom}}
        <a data-action="deleteValue" title="Delete skill" data-skill-key="{{key}}">
          <i class="fas fa-trash"></i>
        </a>
        {{/if}}
        <input id="{{@root/id}}-system-skills-{{key}}-value" type="text" class="value-input {{#if skill.overridden}}overridden{{/if}}"
          name="system.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" {{disabled
          skill.overridden}} />
        <span> / </span>
        <input type="text" class="value-input" name="system.skills.{{key}}.max" value="{{skill.max}}"
          data-dtype="Number" readonly />
        {{else}}
        <div class="bubbles">
          {{#each (attributeBubbles ../actor "skills" key) as |bubble|}}
          <span class="bubble bubble-{{bubble.color}}"></span>
          {{/each}}
        </div>
        {{/if}}
      </div>
      {{/each}}
      {{#if editable}}
      <div class="add-custom-value custom-skill">
        <input type="text" class="add-value-input" placeholder="Add skill..." data-dtype="Number" />
        <a data-action="addCustomSkill" title="Create skill"><i class="fas fa-plus"></i></a>
      </div>
      {{/if}}
    </div>
    <ul class="matchups">
      {{#if matchups.tripleWeak}}
        {{> typematch label="Triple weaknesses (+3)" typematch=typematch.tripleWeak img="systems/pokerole/images/icons/matchups/X8.svg"}}
      {{/if}}

      {{#if matchups.doubleWeak}}
        {{> typematch label="Double weaknesses (+2)" typematch=typematch.doubleWeak img="systems/pokerole/images/icons/matchups/X4.svg"}}
      {{/if}}

      {{#if matchups.weak}}
        {{> typematch label="Weaknesses (+1)" typematch=typematch.weak img="systems/pokerole/images/icons/matchups/X2.svg"}}
      {{/if}}

      {{#if matchups.resist}}
        {{> typematch label="Resistances (-1)" typematch=typematch.resist img="systems/pokerole/images/icons/matchups/1-2.svg"}}
      {{/if}}

      {{#if matchups.doubleResist}}
        {{> typematch label="Double resistances (-2)" typematch=typematch.doubleResist img="systems/pokerole/images/icons/matchups/1-4.svg"}}
      {{/if}}

      {{#if matchups.tripleResist}}
        {{> typematch label="Triple resistances (-3)" typematch=typematch.tripleResist}}
      {{/if}}

      {{#if matchups.immune}}
        {{> typematch label="Immunities (x0)" typematch=typematch.immune img="systems/pokerole/images/icons/matchups/X0.svg"}}
      {{/if}}
    </ul>
  </div>
  
  <aside>

    <div class="nature-box battle-nature-wrap">
      {{#if (pkOptions "genderOption")}}
        <div class="attribute">
          <label for="system.gender" class="resource-label flexlarge align-left">Gender</label>
          <select name="system.gender" value="{{system.gender}}" data-dtype="String" class="large">
            {{selectOptions gender selected=system.gender}}
          </select>
        </div>
        {{/if}}
      <div class="attribute">
        <label for="system.personality" class="resource-label flexlarge align-left">Nature</label>
        <select name="system.personality" value="{{system.personality}}" data-dtype="String" class="large">
          {{selectOptions natures selected=system.personality}}
        </select>
      </div>
      <div class="attribute">
        <label for="system.trainingPoints" class="resource-label flexlarge align-left">Training Points</label>
        <input type="text" name="system.trainingPoints" value="{{system.trainingPoints}}" data-dtype="Number" />
      </div>
    </div>
    {{#if editable}}
    <div class="button-container">
      <button type="button" title="Retrain" data-action="reTrain" class="set-button">Retrain</button>
    </div>
    {{/if}}
    <div class="derived">
      <h3 class="section-header centered">Quick References</h3>
      <div class="derived-attributes">
        {{#each system.derived as |attribute key|}}
        <div class="attribute">
          {{#if (pkOptions "vitaminOption")}}
          {{#if (ifvitamin ../system.avitamin ../system.bvitamin key)}}
          <div class="fa-solid fa-star attribute-star"></div>
          {{else}}
          <div class="fa-regular fa-star attribute-star"></div>
          {{/if}}
          {{/if}}
          <label for="{{@root/id}}-system-derived-{{key}}-value" data-action="roll" class="resource-label flexlarge align-left rollable"
            data-roll-attribute="{{key}}" data-roll-label="{{attribute.label}}">{{attribute.label}}</label>
          <span id="{{@root/id}}-system-derived-{{key}}-value">{{attribute.value}}</spanq>
        </div>
        {{/each}}
      </div>
    </div>
  </aside>

</section>


{{#* inline "typematch"}}
<li class="typematch {{#if img}}typematch-icon{{/if}}" {{#if img}}data-icon="{{img}}"{{/if}}>
  <h4>{{label}}</h4>
  <div class="types">
    {{#each typematch}}
    <img title="{{this}}" src="systems/pokerole/images/types/{{this}}.svg" width="25px" height="25px"
      class="type-icon"></img>
    {{/each}}
  </div>
</li>
{{/inline}}