{{!-- Move Effects Tab --}}
<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
  <ol class="items-list effect-group-list">
    <li class="item flexrow items-header">
      <div class="item-name">Condition</div>
      <a class="effect-group-control" title="Create group" data-action="createEffectGroup" data-type="item"><i class="fas fa-plus"></i> Add Group</a>
    </li>
    {{#each system.effectGroups as |group index|}}
      <li class="item flexrow">

        <ol class="items-list effect-list">
          <li class="item flexrow items-header">
            <div class="item-prop flexrow condition-wrapper">
              {{#if group.condition.amount}}
                <input title="Number of chance dice" type="text" class="small-input effect-group-condition-amount" value="{{group.condition.amount}}" data-dtype="Number" data-index="{{index}}"/>
              {{/if}}

              <select title="Condition type" class="effect-group-condition" value="{{group.condition.type}}" data-index="{{index}}">
                {{selectOptions ../effectGroupConditions selected=group.condition.type}}
              </select>
            </div>
            <div class="item-controls">
              <a class="item-control" title="Add Effect to Group" data-action="addEffect" data-index="{{index}}"><i class="fas fa-add"></i> Effect</a>
              <a class="item-control" title="Delete Group" data-action="deleteEffectGroup" data-index="{{index}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>

          {{#each group.effects as |effect effectIndex|}}
            <li class="item flexrow effect-item">
              <select title="Type" class="effect-type" value="{{effect.type}}" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}">
                {{selectOptions ../../moveEffects selected=effect.type}}
              </select>
              {{#if effect.ailment}}
              <select title="Inflicted ailment" class="effect-ailment" value="{{effect.ailment}}" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}">
                {{selectOptions ../../effectAilments selected=effect.ailment}}
              </select>
              {{/if}}
              {{#if effect.stat}}
              <select title="Affected stat" class="effect-stat" value="{{effect.type}}" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}">
                {{selectOptions ../../effectStats selected=effect.stat}}
              </select>
              <span title="Stat increase/decrease stages" class="label-wrapper">
                <label class="effect-amount-label">Stages:</label>
                <input type="text" class="effect-amount small-input" value="{{effect.amount}}" data-dtype="Number" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}"/>
              </span>
              {{/if}}
              <select title="Affected targets" class="effect-affects" value="{{effect.affects}}" data-index="{{index}}" data-group-index="{{index}}" data-effect-index="{{effectIndex}}">
                {{selectOptions ../../effectAffects selected=effect.affects}}
              </select>
              <div class="item-controls">
                <a class="item-control" title="Delete Effect" data-action="deleteEffect" data-group-index="{{index}}" data-effect-index="{{effectIndex}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}

        </ol>

      </li>
    {{/each}}
  </ol>
</section>
